Repository businessintelli/hotgigs-iz2pxa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hotgigs/maintainers, @hotgigs/security-team, @hotgigs/backend-team, @hotgigs/frontend-team, @hotgigs/ai-team, @hotgigs/data-science-team, @hotgigs/devops-team, @hotgigs/database-team, @hotgigs/ui-team, @hotgigs/accessibility-team, @hotgigs/docs-team, @hotgigs/technical-writers, @hotgigs/qa-team

Add public-samples/hotgigs-iz2pxa/src/backend/services/storage/resume-storage.ts
  src/backend/services/storage/resume-storage.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/tests/integration/ai.test.ts
  src/backend/tests/integration/ai.test.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/tests/integration/api.test.ts
  src/backend/tests/integration/api.test.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/tests/integration/calendar.test.ts
  src/backend/tests/integration/calendar.test.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/tests/integration/email.test.ts
  src/backend/tests/integration/email.test.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/tests/mocks/data.ts
  src/backend/tests/mocks/data.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/tests/mocks/services.ts
  src/backend/tests/mocks/services.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/tests/unit/analytics.test.ts
  src/backend/tests/unit/analytics.test.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/tests/unit/auth.test.ts
  src/backend/tests/unit/auth.test.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/tests/unit/candidates.test.ts
  src/backend/tests/unit/candidates.test.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/tests/unit/interviews.test.ts
  src/backend/tests/unit/interviews.test.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/tests/unit/jobs.test.ts
  src/backend/tests/unit/jobs.test.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/types/analytics.ts
  src/backend/types/analytics.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/types/auth.ts
  src/backend/types/auth.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/types/candidates.ts
  src/backend/types/candidates.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/types/common.ts
  src/backend/types/common.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/types/hotlists.ts
  src/backend/types/hotlists.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/types/interviews.ts
  src/backend/types/interviews.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/types/jobs.ts
  src/backend/types/jobs.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/utils/date-time.ts
  src/backend/utils/date-time.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/utils/error-handler.ts
  src/backend/utils/error-handler.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/utils/formatting.ts
  src/backend/utils/formatting.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/utils/logger.ts
  src/backend/utils/logger.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/utils/security.ts
  src/backend/utils/security.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/utils/validation.ts
  src/backend/utils/validation.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/web/.env.example
  src/web/.env.example
Owners: @hotgigs/frontend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @hotgigs/frontend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/web/.gitignore
  src/web/.gitignore
Owners: @hotgigs/frontend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/web/.prettierrc
  src/web/.prettierrc
Owners: @hotgigs/frontend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/web/README.md
  src/web/README.md
Owners: @hotgigs/docs-team, @hotgigs/technical-writers

Add public-samples/hotgigs-iz2pxa/src/web/cypress.config.ts
  src/web/cypress.config.ts
Owners: @hotgigs/frontend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/web/index.html
  src/web/index.html
Owners: @hotgigs/frontend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @hotgigs/frontend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/web/package.json
  src/web/package.json
Owners: @hotgigs/frontend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/web/postcss.config.js
  src/web/postcss.config.js
Owners: @hotgigs/frontend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/web/tailwind.config.ts
  src/web/tailwind.config.ts
Owners: @hotgigs/frontend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @hotgigs/frontend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @hotgigs/frontend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @hotgigs/frontend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/web/public/logo.svg
  src/web/public/logo.svg
Owners: @hotgigs/frontend-team, @hotgigs/security-team

.github/CODEOWNERS:

* @hotgigs/maintainers @hotgigs/security-team

# Backend team owns all backend code with security review
src/backend/** @hotgigs/backend-team @hotgigs/security-team

# Frontend team owns all web application code with security review
src/web/** @hotgigs/frontend-team @hotgigs/security-team

# AI team owns all AI/ML related services with security review
src/backend/services/ai/** @hotgigs/ai-team @hotgigs/security-team

# AI and Data Science teams jointly own model definitions
src/backend/services/ai/models/** @hotgigs/ai-team @hotgigs/security-team @hotgigs/data-science-team

# DevOps team owns all infrastructure code with security review
infrastructure/** @hotgigs/devops-team @hotgigs/security-team

# DevOps team owns all CI/CD workflows with security review
.github/workflows/** @hotgigs/devops-team @hotgigs/security-team

# Database team owns all database schemas and migrations with security review
src/backend/db/** @hotgigs/database-team @hotgigs/security-team

# Security team exclusively owns all security-related code
src/backend/services/security/** @hotgigs/security-team

# UI team owns all React components with accessibility review
src/web/src/components/** @hotgigs/ui-team @hotgigs/accessibility-team

# Documentation team and technical writers own all markdown files
*.md @hotgigs/docs-team @hotgigs/technical-writers

# DevOps team owns all configuration files with security review
config/** @hotgigs/devops-team @hotgigs/security-team

# QA team owns all test files with security review
tests/** @hotgigs/qa-team @hotgigs/security-team
