Repository businessintelli/hotgigs-iz2pxa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hotgigs/maintainers, @hotgigs/security-team, @hotgigs/backend-team, @hotgigs/frontend-team, @hotgigs/ai-team, @hotgigs/data-science-team, @hotgigs/devops-team, @hotgigs/database-team, @hotgigs/ui-team, @hotgigs/accessibility-team, @hotgigs/docs-team, @hotgigs/technical-writers, @hotgigs/qa-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/modules/cloudflare/variables.tf
  infrastructure/terraform/modules/cloudflare/variables.tf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/modules/supabase/main.tf
  infrastructure/terraform/modules/supabase/main.tf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/modules/supabase/outputs.tf
  infrastructure/terraform/modules/supabase/outputs.tf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/modules/supabase/variables.tf
  infrastructure/terraform/modules/supabase/variables.tf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/.env.example
  src/backend/.env.example
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/.gitignore
  src/backend/.gitignore
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/README.md
  src/backend/README.md
Owners: @hotgigs/docs-team, @hotgigs/technical-writers

Add public-samples/hotgigs-iz2pxa/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/package.json
  src/backend/package.json
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/supabase.ts
  src/backend/supabase.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/config/ai.ts
  src/backend/config/ai.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/config/database.ts
  src/backend/config/database.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/config/email.ts
  src/backend/config/email.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/config/security.ts
  src/backend/config/security.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/config/storage.ts
  src/backend/config/storage.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/db/migrations/00001_initial_schema.sql
  src/backend/db/migrations/00001_initial_schema.sql
Owners: @hotgigs/database-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/db/migrations/00002_auth_tables.sql
  src/backend/db/migrations/00002_auth_tables.sql
Owners: @hotgigs/database-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/db/migrations/00003_jobs_tables.sql
  src/backend/db/migrations/00003_jobs_tables.sql
Owners: @hotgigs/database-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/db/migrations/00004_candidates_tables.sql
  src/backend/db/migrations/00004_candidates_tables.sql
Owners: @hotgigs/database-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/db/migrations/00005_interviews_tables.sql
  src/backend/db/migrations/00005_interviews_tables.sql
Owners: @hotgigs/database-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/db/migrations/00006_analytics_tables.sql
  src/backend/db/migrations/00006_analytics_tables.sql
Owners: @hotgigs/database-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/db/migrations/00007_hotlists_tables.sql
  src/backend/db/migrations/00007_hotlists_tables.sql
Owners: @hotgigs/database-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/db/schemas/analytics.ts
  src/backend/db/schemas/analytics.ts
Owners: @hotgigs/database-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/db/schemas/auth.ts
  src/backend/db/schemas/auth.ts
Owners: @hotgigs/database-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/db/schemas/candidates.ts
  src/backend/db/schemas/candidates.ts
Owners: @hotgigs/database-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/db/schemas/hotlists.ts
  src/backend/db/schemas/hotlists.ts
Owners: @hotgigs/database-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/db/schemas/interviews.ts
  src/backend/db/schemas/interviews.ts
Owners: @hotgigs/database-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/db/schemas/jobs.ts
  src/backend/db/schemas/jobs.ts
Owners: @hotgigs/database-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/db/seeds/test_data.sql
  src/backend/db/seeds/test_data.sql
Owners: @hotgigs/database-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/docs/api-spec.yaml
  src/backend/docs/api-spec.yaml
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/docs/database-schema.md
  src/backend/docs/database-schema.md
Owners: @hotgigs/docs-team, @hotgigs/technical-writers

Add public-samples/hotgigs-iz2pxa/src/backend/docs/deployment.md
  src/backend/docs/deployment.md
Owners: @hotgigs/docs-team, @hotgigs/technical-writers

Add public-samples/hotgigs-iz2pxa/src/backend/docs/edge-functions.md
  src/backend/docs/edge-functions.md
Owners: @hotgigs/docs-team, @hotgigs/technical-writers

Add public-samples/hotgigs-iz2pxa/src/backend/docs/security.md
  src/backend/docs/security.md
Owners: @hotgigs/docs-team, @hotgigs/technical-writers

Add public-samples/hotgigs-iz2pxa/src/backend/edge-functions/analytics/dashboard.ts
  src/backend/edge-functions/analytics/dashboard.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/src/backend/edge-functions/analytics/metrics.ts
  src/backend/edge-functions/analytics/metrics.ts
Owners: @hotgigs/backend-team, @hotgigs/security-team

.github/CODEOWNERS:

* @hotgigs/maintainers @hotgigs/security-team

# Backend team owns all backend code with security review
src/backend/** @hotgigs/backend-team @hotgigs/security-team

# Frontend team owns all web application code with security review
src/web/** @hotgigs/frontend-team @hotgigs/security-team

# AI team owns all AI/ML related services with security review
src/backend/services/ai/** @hotgigs/ai-team @hotgigs/security-team

# AI and Data Science teams jointly own model definitions
src/backend/services/ai/models/** @hotgigs/ai-team @hotgigs/security-team @hotgigs/data-science-team

# DevOps team owns all infrastructure code with security review
infrastructure/** @hotgigs/devops-team @hotgigs/security-team

# DevOps team owns all CI/CD workflows with security review
.github/workflows/** @hotgigs/devops-team @hotgigs/security-team

# Database team owns all database schemas and migrations with security review
src/backend/db/** @hotgigs/database-team @hotgigs/security-team

# Security team exclusively owns all security-related code
src/backend/services/security/** @hotgigs/security-team

# UI team owns all React components with accessibility review
src/web/src/components/** @hotgigs/ui-team @hotgigs/accessibility-team

# Documentation team and technical writers own all markdown files
*.md @hotgigs/docs-team @hotgigs/technical-writers

# DevOps team owns all configuration files with security review
config/** @hotgigs/devops-team @hotgigs/security-team

# QA team owns all test files with security review
tests/** @hotgigs/qa-team @hotgigs/security-team
