Repository businessintelli/hotgigs-iz2pxa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hotgigs/maintainers, @hotgigs/security-team, @hotgigs/backend-team, @hotgigs/frontend-team, @hotgigs/ai-team, @hotgigs/data-science-team, @hotgigs/devops-team, @hotgigs/database-team, @hotgigs/ui-team, @hotgigs/accessibility-team, @hotgigs/docs-team, @hotgigs/technical-writers, @hotgigs/qa-team

Add public-samples/hotgigs-iz2pxa/.github/dependabot.yml
  .github/dependabot.yml
Owners: @hotgigs/maintainers, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @hotgigs/docs-team, @hotgigs/technical-writers

Add public-samples/hotgigs-iz2pxa/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @hotgigs/docs-team, @hotgigs/technical-writers

Add public-samples/hotgigs-iz2pxa/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @hotgigs/docs-team, @hotgigs/technical-writers

Add public-samples/hotgigs-iz2pxa/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/.github/workflows/backend-deploy.yml
  .github/workflows/backend-deploy.yml
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/.github/workflows/web-ci.yml
  .github/workflows/web-ci.yml
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/.github/workflows/web-deploy.yml
  .github/workflows/web-deploy.yml
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @hotgigs/docs-team, @hotgigs/technical-writers

Add public-samples/hotgigs-iz2pxa/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @hotgigs/docs-team, @hotgigs/technical-writers

Add public-samples/hotgigs-iz2pxa/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @hotgigs/docs-team, @hotgigs/technical-writers

Add public-samples/hotgigs-iz2pxa/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @hotgigs/docs-team, @hotgigs/technical-writers

Add public-samples/hotgigs-iz2pxa/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @hotgigs/docs-team, @hotgigs/technical-writers

Add public-samples/hotgigs-iz2pxa/infrastructure/docker/backend.Dockerfile
  infrastructure/docker/backend.Dockerfile
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/docker/nginx.conf
  infrastructure/docker/nginx.conf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/docker/web.Dockerfile
  infrastructure/docker/web.Dockerfile
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/monitoring/datadog/agent.yaml
  infrastructure/monitoring/datadog/agent.yaml
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/monitoring/datadog/dashboard.json
  infrastructure/monitoring/datadog/dashboard.json
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/monitoring/datadog/monitors.json
  infrastructure/monitoring/datadog/monitors.json
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/monitoring/grafana/dashboards/overview.json
  infrastructure/monitoring/grafana/dashboards/overview.json
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/monitoring/grafana/dashboards/performance.json
  infrastructure/monitoring/grafana/dashboards/performance.json
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/monitoring/grafana/dashboards/security.json
  infrastructure/monitoring/grafana/dashboards/security.json
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/monitoring/loki/config.yaml
  infrastructure/monitoring/loki/config.yaml
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/monitoring/prometheus/alerts.yml
  infrastructure/monitoring/prometheus/alerts.yml
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/monitoring/prometheus/rules.yml
  infrastructure/monitoring/prometheus/rules.yml
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/security/cors-policy.conf
  infrastructure/security/cors-policy.conf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/security/rate-limits.conf
  infrastructure/security/rate-limits.conf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/security/waf-rules.conf
  infrastructure/security/waf-rules.conf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/environments/production/main.tf
  infrastructure/terraform/environments/production/main.tf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/environments/production/terraform.tfvars
  infrastructure/terraform/environments/production/terraform.tfvars
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/modules/cloudflare/main.tf
  infrastructure/terraform/modules/cloudflare/main.tf
Owners: @hotgigs/devops-team, @hotgigs/security-team

Add public-samples/hotgigs-iz2pxa/infrastructure/terraform/modules/cloudflare/outputs.tf
  infrastructure/terraform/modules/cloudflare/outputs.tf
Owners: @hotgigs/devops-team, @hotgigs/security-team

.github/CODEOWNERS:

* @hotgigs/maintainers @hotgigs/security-team

# Backend team owns all backend code with security review
src/backend/** @hotgigs/backend-team @hotgigs/security-team

# Frontend team owns all web application code with security review
src/web/** @hotgigs/frontend-team @hotgigs/security-team

# AI team owns all AI/ML related services with security review
src/backend/services/ai/** @hotgigs/ai-team @hotgigs/security-team

# AI and Data Science teams jointly own model definitions
src/backend/services/ai/models/** @hotgigs/ai-team @hotgigs/security-team @hotgigs/data-science-team

# DevOps team owns all infrastructure code with security review
infrastructure/** @hotgigs/devops-team @hotgigs/security-team

# DevOps team owns all CI/CD workflows with security review
.github/workflows/** @hotgigs/devops-team @hotgigs/security-team

# Database team owns all database schemas and migrations with security review
src/backend/db/** @hotgigs/database-team @hotgigs/security-team

# Security team exclusively owns all security-related code
src/backend/services/security/** @hotgigs/security-team

# UI team owns all React components with accessibility review
src/web/src/components/** @hotgigs/ui-team @hotgigs/accessibility-team

# Documentation team and technical writers own all markdown files
*.md @hotgigs/docs-team @hotgigs/technical-writers

# DevOps team owns all configuration files with security review
config/** @hotgigs/devops-team @hotgigs/security-team

# QA team owns all test files with security review
tests/** @hotgigs/qa-team @hotgigs/security-team
